<div class="modal-header">
    <div>
    <h2 class="modal-title">{{ symbol }}</h2>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Current Price: {{ currentPrice }}</p>
    <p>Money in Wallet: {{ balanceWallet }}</p>
    <p>Quantity: </p><input type="number" class="form-control" id="quantityInput" [(ngModel)]="quantity">
    <p *ngIf="(currentPrice * quantity) > balanceWallet" class="text-danger">Not enough money in wallet!</p>
    <hr>
    <br>
    <p>Total: {{ (quantity > 0) ? (currentPrice * quantity) : '0.00' }}</p>
    <button class="btn btn-success" style="cursor: pointer;" [disabled]="quantity === 0 || !(currentPrice * quantity <= balanceWallet)" (click)="buy()">Buy</button>
</div>
